{% extends 'layout.html' %}
{% block main %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>账户信息</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>用户信息
                                <small>学迹链系统</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view"
                                             src="{{ url_for('static', filename='production/images/picture.jpg') }}">
                                    </div>
                                </div>
                                <h3>{{ user.name }}</h3>

                                <ul class="list-unstyled user_data">
                                    <li><i class="fa fa-map-marker user-profile-icon"></i> {{ user.id }}
                                    </li>

                                    <li>
                                        <i class="fa fa-briefcase user-profile-icon"></i>
                                        {% if user.type == 1 %}
                                            教师
                                        {% elif user.type == 2 %}
                                            学生
                                        {% elif user.type == 0 %}
                                            管理员
                                        {% endif %}
                                    </li>

                                    <li class="m-top-xs">
                                        <i class="fa fa-external-link user-profile-icon"></i>
                                        网络空间安全
                                    </li>
                                </ul>

                                <br/>
                            </div>

                            {% if user.type==2 %}

                                <div class="col-md-9 col-xs-12 profile_right">
                                    <!-- start skills -->
                                    <h4>技能指数</h4>
                                    <ul class="list-unstyled user_data">
                                        <li>
                                            <p>思想道德素质
                                                <small> M1</small>
                                            </p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     data-transitiongoal="{{temp[1]}}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>专业理论素质
                                                <small> M2</small>
                                            </p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     data-transitiongoal="{{temp[2]}}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>创新精神与实践能力
                                                <small> M3</small>
                                            </p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     data-transitiongoal="{{temp[3]}}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>文化素质
                                                <small> M4</small>
                                            </p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     data-transitiongoal="{{temp[4]}}"></div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>身心素质
                                                <small> M5</small>
                                            </p>
                                            <div class="progress progress_sm">
                                                <div class="progress-bar bg-green" role="progressbar"
                                                     data-transitiongoal="{{temp[5]}}"></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- end of skills -->
                                </div>
                            {% endif %}



                            {% if user.type==1 %}
                                 <div class="col-md-9 col-xs-12 profile_right">
                                    <font size="3"> <strong>老师教授的课程:</strong></font>
                                    <table id="datatable" class="table table-striped table-bordered">
                                        <thead>
                                        <tr>

                                            <th>课程ID</th>
                                            <th>课程名</th>
                                            <th>上课时间</th>
                                            <th>学时</th>
                                            <th>学分</th>
                                            <th>课程信息</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        {% for course in course_list %}
                                            <tr>
                                                <td>{{ course['course_id'] }}</td>
                                                <td>{{ course['course_name'] }}</td>
                                                <td>
                                                    {% if course['course_weekday'] == 1 %}
                                                        星期一
                                                    {% elif course['course_weekday'] == 2 %}
                                                        星期二
                                                    {% elif course['course_weekday'] == 3 %}
                                                        星期三
                                                    {% elif course['course_weekday'] == 4 %}
                                                        星期四
                                                    {% elif course['course_weekday'] == 5 %}
                                                        星期五
                                                    {% elif course['course_weekday'] == 6 %}
                                                        星期六
                                                    {% endif %}
                                                    {% if course['course_time']==1 %}
                                                        第1~2节
                                                    {% elif course['course_time']==2 %}
                                                        第3~4节
                                                    {% elif course['course_time']==3 %}
                                                        第5~6节
                                                    {% elif course['course_time']==4 %}
                                                        第7~8节
                                                    {% elif course['course_time']==5 %}
                                                        第9~10节
                                                    {% endif %}
                                                </td>
                                                <td>{{ course['course_total'] }}学时</td>
                                                <td>{{ course['course_credit'] }}学分</td>
                                                <td>{{ course['course_info'] }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                 </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}